body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
}

.invite {
    border: 5px solid #7289DA;
    border-radius: 0px 15px 0px 15px;
    padding: 10px;
    background-color: #7289DA;
    color: #99AAB5;
    font-weight: bold;
    text-decoration: none;
}

.current {
    font-weight: bold;
    color: #99AAB5;
}

div.dropdown-content .current {
    color: #7289DA;
}

footer a:hover {
    color: #7289DA;
    font-weight: bold;
}

.header {
    background: #2C2F33;
    padding-top: 30px;
    height: 70px;
    border-bottom: #7289DA 3px solid;
    color: #ffffff;
    padding-left: 30px;
}

header .logo {
    float: left;
    padding-right: 30px;
    height: 70px;
    margin-top: 0;
}

header .logo h1 {
    margin: 0;
}

.header nav {
    margin-top: 10px;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.header .link:hover {
    font-weight: bold;
    color: #7289DA
}

#showcase {
    height: 400px;
    background: url("https://top.gg/assets/images/discord_v2.1225443.svg") repeat-x 0;
    text-align: center;
    color: #23272A;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 80px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
    font-weight: bold;
}

.sctext {
    background: rgba(93, 104, 122, 0.7);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 5px;
}

footer {
    border-top: 3px solid #7289DA;
    background: #2C2F33;
    padding: 1px;
    color: #99AAB5;
    font-size: 1em;
    text-align: center;
}

.username {
    font-weight: bold;
}

footer img.seekprofilepic {
    border-radius: 50%;
}

footer a.node {
    color: #7289DA;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
}

/* Dropdown Menu */
.dropbtn {
    padding: 10px;
    color: #99AAB5;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #99AAB5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
